/*-- scss:defaults --*/

// Fonts
@font-face {
  font-family: 'font-title';
  src: url("fonts/SourceCodePro-SemiBold.ttf") format("truetype");
}
 
@font-face {
  font-family: 'font-base';
  src: url("fonts/SourceCodePro-Light.ttf") format("truetype");
}

$headings-font-family: font-title !default;

// Color system
$white: #000000 !default;
$primary: #ffffff !default;
$secondary: #a9a9a9 !default;
$success: #0000ff !default;
$info: #ff0000 !default;
$warning: #ff0000 !default;
$danger: #ff0000 !default;
$light: #000000 !default;
$dark: #000000 !default;

// Color tweaks to theme
$body-bg: $light;
$body-color: $dark;
$navbar-bg: $body-bg;
$navbar-fg: $body-color;
$code-bg: $white;
$code-color: $secondary;
$card-bg: $body-bg;
$card-border-color: $gray-300;
$navbar-bg: transparent !default;

// Font sizes
$font-size-base: 1rem !default;
$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

// Progress bar
$progress-border-radius: 0 !default;

// Accordeon
$accordion-button-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' class='bi bi-plus-lg' fill = 'white' width='16' height='16' viewBox='0 0 16 16'><path d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z'/></svg>");
 
$accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' class='bi bi-dash-lg' fill = 'white' width='16' height='16' viewBox='0 0 16 16'><path d='M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z'/></svg>");

.accordion-button{
  box-shadow: none !important;
  color: $primary !important;
}
 
// Rules
html, body {
  overflow-x: hidden;
}
 
body {
  color: $primary !important;
  font-family: font-base !important;
  font-size: $font-size-base !important;
}
 
// Toggle theme 
.navbar .quarto-color-scheme-toggle.alternate .bi::before {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-toggle-on' viewBox='0 0 16 16'><path d='M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z'/></svg>") !important;
} 
 
// Navigation bar
.navbar{
  font-size: $font-size-base !important;
}

.nav-item, .quarto-toggle-container, #quarto-search {
  background-color: $white !important;
}

// Hover on navbar
.navbar-expand-lg .navbar-nav .nav-link, .aa-SubmitIcon {
  color: $primary !important;
}

@media screen and (min-width: 992px) {  
  .navbar .navbar-nav.navbar-nav-scroll.me-auto .nav-item {
    position: relative;
  }

  .navbar .navbar-nav.navbar-nav-scroll.me-auto .nav-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: $primary;
    width: 0%;
    content: "";
    height: 2px;
    transition: all 0.3s;
  }

  .navbar .navbar-nav.navbar-nav-scroll.me-auto .nav-item:hover::after {
    width: 90%;
  }
}

.navbar-expand-lg .navbar-nav .nav-link:hover, .aa-SubmitIcon:hover {
  color: $primary !important;
  font-weight: bold !important;
}

.navbar-expand-lg .navbar-nav .nav-link.active, .aa-SubmitIcon.active {
  color: $primary !important;
  font-weight: bold !important;
}

.navbar-toggler, .navbar-text {
  color: $primary !important;
  border-color: transparent !important;
}

// Navbar-brand
.navbar-brand {
  color: $primary !important;
  border-color: transparent !important;  
  font-family: font-title !important; 
  font-weight: bold !important;
}
 
// Change color of burger menu in navbar
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
 
.navbar-toggler:focus {
  box-shadow: 0 0 0 0 !important;
}
 
// Search bar
.aa-DetachedCancelButton:hover {
  color: $primary !important;
  opacity: 1 !important;
}
 
// Text default
.search-result-container, .search-result-text-container, 
.search-result-title-container, .search-result-text, .search-result-icon,
.search-result-icon-container {
  background-color: $white !important;
}

.search-result-container .search-result-text {
  color: $primary !important;
  opacity: 1 !important;
}

.search-result-container .search-result-title {
  color: $primary !important;
  opacity: 1 !important;
}

.search-result-container .search-result-icon {
  color: $primary !important;
  opacity: 1 !important;
}

.search-result-container:hover .search-result-text {
  opacity: 1 !important;
  font-weight: bold !important;
}

.search-result-container:hover .search-result-title {
  opacity: 1 !important;
  font-weight: bold !important;
}

.search-result-container:hover .search-result-icon {
  opacity: 1 !important;
  font-weight: bold !important;
}
 
// Input
.aa-Input {
  color: $primary !important;
  opacity: 1 !important;
}
 
.aa-SubmitButton .aa-SubmitIcon{
  fill: $primary !important;
  opacity: 1 !important;
}
 
// Titles
h1 {
  color: $primary !important; 
}
 
h2, h3 {
  color: $primary !important; 
}

// Icon
.vl {
  display: block;
  border-left: 2px solid $primary;
  height: 100%;
}

.hl {
  display: block;
  background: $primary;
  width: 100%;
  height: 2px;
  margin: auto;
  margin-top: -6px;
  margin-bottom: -6px;
}

// Footer
.nav-footer .nav-item{
  color: $primary;
}

.nav-footer .nav-item .link-footer{
  color: $primary;
}

// Cards
.card-link {
  background-color: $primary;
  color: $body-bg;
  border: 4px solid $primary;
  border-color: $primary;
  padding: 5px .5rem 5px .5rem !important;
  margin: 0;
  border-radius: 5px; 
  display: inline-block;
  text-decoration: none;  
  font-size: $h5-font-size;
}

.card-link:hover {
  background-color: $body-bg;
  color: $primary;
}