/* Logo */
.vl:hover > .hl {
    animation-duration: 1s;
    animation-name: line-expand;
}
  
.vl:not(:hover) > .hl {
    visibility: hidden;
}
  
.navbar-title:hover > .vl {
    animation-duration: 1s;
    animation-name: line-expand;
}
  
@keyframes line-expand {
    from {
        width: 0%;
    }
      
    to {
        width: 100%;
    }
}

/* Cards container */

/* List ressources */
ul.list-ressources {
    list-style-type: "> ";
  }